.page {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  z-index: 1;
  position: absolute;
}

.envelope {
  position: absolute;
}
